@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    scroll-behavior: smooth;
    --header_bg: #212934;
    --intro_bg: #efefef;
    --footer_bg: #1d242d;
    /*? ************ Colors ************ */
    --gold: #ede861;
    --star_color: #bcbcbc;
    /*? **** Main colors ****  */
    --primary_color: #678588;
    --brand_color: #59ab6e;
    --dark_color: #21262b;
    --light_color: #bfbfbf;
    --header_color: #cfd6e1;
}

/* body {
    height: 8000px;
} */

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    transition: .3s all ease-in-out;
}

/*? **************************** Global styles  *************************************/

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align_center {
    align-items: center;
}

.justify_between {
    justify-content: space-between;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.section_title,
.section_description,
.section_description_product {
    text-align: center;
    font-weight: 300;
}

.section_title {
    font-size: 2.5rem;
}

a:hover,
i:hover {
    color: var(--brand_color);
    cursor: pointer;
}

button {
    height: 40px;
    width: 90px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #FFF;
    background-color: var(--brand_color);
    text-transform: capitalize;
    cursor: pointer;
}

button:hover {
    color: var(--dark_color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.292);
}

.width {
    max-width: 100%;
}

/*? ****************************** Start header  *******************************/
header {
    height: 30px;
    background-color: var(--header_bg);
    color: var(--header_color);
    font-size: .8rem;
}

header .container {
    height: 100%;
}

header .left .mail {
    margin-right: 10px;
}

header i {
    margin: 3px;
}

@media (max-width:500px) {
    header {
        height: auto;
    }

    header .container {
        flex-direction: column;
    }

    header .left,
    header .right {
        margin: 5px 0;
    }
}

/*? ****************************** End header  *******************************/
/*? ****************************** Start navbar  *******************************/
nav .left img {
    width: 80px;
}

nav ul {
    width: 50%;
    justify-content: space-around;
}

nav ul li a {
    color: var(--header_bg);
    font-weight: 400;
}

nav ul li a:hover,
nav .right i:hover {
    color: var(--brand_color);
}

nav .right i {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

nav .right i span {
    position: absolute;
    top: -9px;
    right: -12px;
    background: var(--intro_bg);
    padding: 4px;
    border-radius: 11px;
    font-weight: 700;
    font-size: .7rem;
    height: 15px;
    line-height: 8px;
}

@media (max-width:600px) {
    nav .container {
        flex-direction: column;
        padding-bottom: 10px;
    }

    nav img {
        width: 60px;
    }

    nav ul {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

/*? ****************************** End navbar  *******************************/
/*? ****************************** Start intro  *******************************/
.intro {
    background-color: var(--intro_bg);
    padding: 4% 0;
}

.intro .left,
.intro .right {
    width: 40%;
}


@media (max-width:800px) {
    .intro .container {
        flex-direction: column;
    }
}

/*? ****************************** End intro  *******************************/
/*? ****************************** Start categories  *******************************/
.categories .product {
    width: 30%;
    text-align: center;
    margin-top: 40px;
}

.categories .product img {
    border-radius: 50%;
    border: 1px solid var(--primary_color)
}

@media (max-width:700px) {
    .categories .products_container {
        justify-content: center;
    }

    .categories .product {
        width: 60%;
    }
}

/*? ****************************** End categories  *******************************/

@media (max-width:700px) {
    :root {
        font-size: 12px;
    }

    button {
        height: 25px;
        width: 65px;
    }
}

/*? ******************************  Start products  *******************************/
.products {
    background-color: #e9eef5;
}

.section_description_product {
    margin-left: 25%;
    width: 50%;
}

.second {
    padding-top: 30px;
    margin-bottom: 0;
}

.square {
    background-color: #FFF;
    border: 1px solid var(--intro_bg);
    border-radius: 5px;
    width: 30%;
    /* margin-top: 10px;
    margin-bottom: 50px; */
    margin: 10px 0 50px 0;
    overflow: hidden;
}

.square:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.292);
}

.content {
    padding: 15px;
}

.content h4 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.content p {
    margin-top: 0;
    font-weight: 300;
}

.fa-star {
    color: var(--star_color);
}

.checked {
    color: var(--gold);
}

.fa-star:hover {
    color: var(--gold);
}

.content span {
    float: right;
    color: var(--light_color);
}

h5 {
    color: var(--light_color);
    font-weight: normal;
}

@media (max-width:900px) {
    .products .products_container {
        justify-content: center;
    }

    .products .square {
        width: 70%;
    }
}

/*? ****************************** End products  *******************************/
/*? ****************************** Start info  *******************************/
.end {
    background-color: var(--header_bg);
    padding: 0;
    margin: 0;
    color: #cfd6e1;
}

a {
    color: #cfd6e1;
}

.container h2 {
    font-weight: 500;
}

.big {
    color: var(--brand_color);
}

.container li {
    line-height: 35px;
    font-weight: 300;
}

.leftSide i {
    margin-right: 10px;
}

.leftSide,
.centerSide,
.rightSide {
    width: 30%;
}

hr {
    border-color: #cfd6e1;
    opacity: .1;
}

.leftEnd i {
    margin: 10px;
    font-size: 1rem;
    border: 5px solid var(--footer_bg);
    border-radius: 35px;
}

.email,
.ok {
    height: 30px;
    outline: none;
}

.right .email {
    width: 250px;
    color: var(--light_color);
    background-color: var(--header_bg);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.092);
    margin-right: 0;
    border-radius: 5px;
}

.right .ok {
    background-color: var(--brand_color);
    color: #cfd6e1;
    font-weight: 400;
    border: none;
    border-radius: 0 5px 5px 0px;
    margin-left: -6px;
}

.ok:hover {
    background-color: var(--primary_color);
    cursor: pointer;
}

@media (max-width:800px) {
    .end {
        font-size: small;
    }

    .leftSide i {
        margin-right: 5px;
    }

    .right .email {
        width: 150px;
    }
}

@media (max-width:500px) {
    .end {
        font-size: smaller;
    }

    .icon {
        justify-content: center;
    }
}

/*? ****************************** End info   *******************************/
/*? ****************************** Start Footer   *******************************/
footer {
    height: 50px;
    background-color: var(--footer_bg);
    color: var(--header_color);
    font-size: 1rem;
    text-transform: capitalize;
}

footer span {
    text-decoration: underline;
}

/*? ****************************** End Footer   *******************************/